# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.rs text
*.ts text
*.tsx text
*.js text
*.jsx text
*.json text
*.yml text
*.yaml text
*.toml text
*.md text

# Lock files
Cargo.lock binary
package-lock.json binary
bun.lockb binary

# Archives
*.7z binary
*.gz binary
*.tar binary
*.zip binary

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Fonts
*.woff binary
*.woff2 binary
*.eot binary
*.ttf binary
*.otf binary
